*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html, body, #root{
	height: 100%;
	background: #f2f3f5;
}

.header{
	display: flex;
	flex-direction: row;
	padding: 10px 15px;
	background: #fff;
	border-top: solid 8px #3C7A30;
	margin-bottom: 10px;
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0 0 10px #ccc;
	.leftSide{
		display: flex;
		flex: 1;
		.logoLink{
			display: inline-block;
			img {
				max-width: 200px;
			}
		}
	}
	.centerSide {
		display: flex;
		flex: 1;
		text-align: center;
		ul {
			width: 100%;
			list-style: none;
			display: flex;
	    justify-content: center;
	    align-items: center;
	    margin: 0;
			li {
				display: inline-block;
				padding: 0 10px;
				a {
					text-decoration: none;
					color: #60656f;
					font-weight: 700;
					padding: 20px 5px;
					font-size: 13px;
					&.active {
						color: #000;
					}
				}
			}
		}
	}
	.rightSide {
		display: flex;
		flex: 1;
		text-align: right;
	}
}


.iconList {
	width: 100%;
	list-style: none;
	display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
	li {
		display: inline-block;
		margin: 0 6px;
		a {
			padding: 8px;
	    border-radius: 50%;
	    font-size: 18px;
	    transition: all linear 0.2s 0s;
	    width: 42px;
	    height: 42px;
	    text-align: center;
	    position: relative;
	    vertical-align: middle;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    text-decoration: none;
	    color: #40444D;
	    &.defaultBG{
	    	background: #edeff3;
	    }
			&:hover {
				background: #E4E6EB
			}
			.badge {
				position: absolute;
		    width: 20px;
		    height: 20px;
		    background: red;
		    color: #fff;
		    font-size: 14px;
		    border-radius: 50%;
		    top: -5px;
		    right: -5px;
		    pointer-events: none;
			}
		}
	}
}

.contentContainer{
	display: flex;
	padding-top: 85px;
	.leftSidebar{
		display: flex;
		width: 400px;
		padding: 0 15px;
	}
	.rightSidebar {
		display: flex;
		width: 400px;
		padding: 0 15px;
	}
	.centerContent{
		display: flex;
		width: calc(100% - 800px);
		padding: 0 15px;
		flex-direction: column;
		align-items: center;
		.centerBoxContainer{
			max-width: 750px;
			width: 100%;
			height: 100%;
			.contentArea{
				min-height: calc(100% - 200px);
				background: #fff;
			}
		}
	}
}

.headingBox {
	display: flex;
	flex-direction: row;
	background: #fff;
	padding: 5px 20px;
	border-radius: 10px;
	width: 100%;
	margin-bottom: 10px;
	.leftBar {
		display: flex;
		width: 100px;
		align-items: center;
		h5 {
			font-size: 16px;
			margin: 0;
		}
	}
	.centerBar {
		display: flex;
		width: calc(100% - 150px);
		align-items: center;
		justify-content: center;
		ul{
			list-style: none;
			background: #f2f3f5;
			padding: 4px;
			border-radius: 4px;
			margin: 0;
			li{
				display: inline-block;
				cursor: pointer;
				font-size: 13px;
				font-weight: 700;
				padding: 10px;
				border-radius: 4px;
				&.active{
					background: #fff
				}
			}
		}
	}
	.rightBar {
		display: flex;
		width: 50px;
		align-items: center;
		justify-content: flex-end;
	}
}

.itemBox{
	margin: 10px 0;
	.topSection {
		position: relative;
		img {
			width: 100%;
			display: block;
		}
	}
	.sectionCointent {
		position: absolute;
		bottom: 0;
		width: 100%;
		padding: 10px;
		h4{
			color: #fff;
			font-size: 15px;
			margin: 0;
		}
		p{
			color: #fff;
			margin: 0;
			span {
				display: inline-block;
				margin-right: 5px;
				font-size: 13px;
			}
		}
		.priceBtn {
			position: absolute;
	    right: 10px;
	    bottom: 10px;
	    background: #fff;
	    border: none;
	    padding: 6px 10px;
	    font-weight: 600;
	    font-size: 14px;
	    border-radius: 5px;
		}
	}
	.bottomSection {
		background: #fff;
		padding: 10px;
		p {
			font-size: 13px;
			margin: 0;
		}
		.viewAllLink {
			text-decoration: none;
			color: #707580;
			font-size: 13px;
			display: inline-block;
			margin-top: 10px;
			transition: all linear 0.2s 0s;
			&:hover {
				color: #ddd;
			}
		}
	}
	.commentBox {
		background: #fff;
		border-top: solid 1px #eeeff4;
		position: relative;
		input[type="text"] {
			border: none;
			padding: 15px 10px;
			padding-left: 50px;
			width: 100%;
			transition: all linear 0.2s 0s;
			outline: none;
			&:focus{
				box-shadow: 0 0 20px #e8e5e5;
			}
		}
		.imgCon {
			width: 30px;
			height: 30px;
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			left: 10px;
			top: 8px;
			background: #ccc;
			border: solid 1px #ccc;
			img {
				width: 100%;
			}
		}
	}
}

.leftSidebarContent, .modalContent{
	width: 100%;
	iframe {
		width: 100%;
		height: 450px;
	}
	h4{
		font-size: 16px;
		margin: 12px 0;
		button{
			float: right;
		}
	}
	.searchBar{
		position: relative;
		margin-bottom: 10px;
		margin-top: 10px;
		i{
			position: absolute;
			top: 8px;
			left: 10px;
			color: #737a85;
			font-size: 14px;
		}
		input[type="text"]{
			width: 100%;
			background: #edeff3;
			border: solid 1px #e2e5ec;
			height: 40px;
			border-radius: 4px;
			padding: 0 10px;
			padding-left: 40px;
			transition: all linear 0.2s 0s;
			outline: none;
			height: 30px;
			&:focus{
				box-shadow: 0 0 20px #e8e5e5;
			}
		}
	}
	.listBox{
		ul{
			list-style: none;
			li {
				overflow: auto;
				a{
					display: block;
			    font-size: 13px;
			    font-weight: 700;
			    text-decoration: none;
			    overflow: auto;
			    margin-bottom: 5px;
			    padding: 10px 5px;
			    line-height: 30px;
			    border-radius: 5px;
			    color: #111;
			    transition: all linear 0.2s 0s;
			    &:hover{
			    	background: #fff;
			    }
				}
				.userCon{
					width: 30px;
					height: 30px;
					border-radius: 50%;
					overflow: hidden;
					float: left;
					margin-right: 10px;
					img{
						width: 100%;
					}
				}
			}
		}
	}
}

.userCard{
	line-height: 30px;
	font-size: 13px;
	font-weight: 500;
	.userCon{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		overflow: hidden;
		float: left;
		margin-right: 10px;
		border: solid 1px #ccc;
		img{
			width: 100%;
		}
	}
}

.transparentBtn{
	background: none;
	border: none;
	font-size: 20px;
	cursor: pointer;
}

.itemList{
	ul{
		list-style: none;
		margin-bottom: 15px;
		li{
			overflow: auto;
			position: relative;
			.itemImgBox{
				width: 60px;
				float: left;

				img {
					width: 100%;
				}
			}
			.itemContent{
				width: calc(100% - 80px);
				float: left;
				padding-left: 10px;
				padding-right: 100px;
				h5{
					font-size: 13px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					margin: 0;
				}
				p{
					margin: 0;
					span{
						margin-right: 5px;
						font-size: 13px;
					}
				}
				h6{
					position: absolute;
					right: 0;
					font-size: 13px;
    			top: 0;
				}
			}
		}
	}
}


.tableContent{
	table {
		width: 100%;
		background: #fff;
		padding: 0;
		thead {
			tr{
				th{
					border-bottom: solid 1px #CED2D9;		
					padding: 10px;
					font-size: 13px;
					text-align: left;
					font-weight: 600;
				}
			}
		}
		tbody{
			tr{
				transition: all linear 0.2s 0s;
				&:hover{
					background: #ecebeb;
				}
				td{
					padding: 10px;
					font-size: 13px;
					font-weight: 500;
				}
			}
		}
	}
}



.modalContent{
	z-index: 10;
	background-color: #fff;
	.modalHeader{
		padding-bottom: 10px;
		border-bottom: solid 1px #CED2D9;
		.heading{
			font-size: 16px;
			font-weight: 700;
			margin-bottom: 16px;
		}
		.headingBox {
			padding: 0;
			.centerBar {
				width: 100%;
				ul{
					width: 100%;
					display: flex;
					li {
						display: flex;
						flex: 1;
						align-items: center;
						text-align: center;
						justify-content: center;
					}
				}
			}
		}
	}
	.modalDetail{
		.subHeading{
			font-size: 10px;
			padding: 10px 0px;
			margin: 0;
		}
	}
	.itemList {
		padding: 10px;
		background: #F2F3F5;
		border-radius: 5px;
		ul{
			margin: 0;
		}
	}
	.listBox {
		ul {
			li {
				a {
					&:hover{
						background: #F2F3F5;
					}
				}
			}
		}
	}
	.modal-footer {
		.btn {
			&.btn-secondary {

			}
		}
	}
}

.socialList{
	display: flex;
	ul {
		display: flex;
		list-style: none;
		padding: 0;
		li {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			text-align: center;
			font-size: 10px;
			margin-right: 25px;
			cursor: pointer;
			transition: opacity linear 0.2s 0s;
			&:hover {
				opacity: 0.8;
			}
			.socialIcon{
				display: flex;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				align-items: center;
				justify-content: center;
				margin-bottom: 7px;
				background: #1DA1F2;
				color: #fff;
				&.facebook{
					background: #4267B2;
				}
				&.linkedin{
					background: #0E76A8;
				}
				&.tiktok{
					background: #000000;
				}
				&.whatsapp{
					background: #4FCE5D;
				}
				i{
					font-size: 20px;
				}
			}
		}
	}
}